public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=class-validator
public-hoist-pattern[]=class-transformer
public-hoist-pattern[]=reflect-metadata
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=typeorm
public-hoist-pattern[]=mysql2
